body {
    background-color: #ffffff;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    height: 200rem;
}


.topbar {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgb(0, 108, 162);
    color: white;
    padding: 20px;

    width: 100%;
    margin: 0px;
    text-align: left;
}
.container {
    position: relative;
    top: 0px;
    height: 80px;
}

.title {
    margin: 20px;
    color: rgb(0, 108, 162);
    font-size: 3rem;
}

.project.proj1 {
    position: absolute;
    top: 200px;
}

.project.proj2 {
    position: absolute;
    top: 600px;
}

.projects {
    position: relative;
    margin-top: 40px;
    height: 400px;
    margin: 20px;
    font-family: 'Google Sans', sans-serif;
}

.subtitle {
    color: rgb(0, 108, 162);

    font-family: 'Google Sans', sans-serif;

    font-size: 1.5rem;

    margin: 20px;
}